.list-blog{
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 6px, rgba(0, 0, 0, 0.08) 0px 1px 4px;
    padding: 20px 15px;
    background: #f9f9f9;
    margin-top: 10px;
}
.blog-title{
	font-weight: 400;
}