<div class="m-t-15">
	<div class="media">
		<div class="media-left">
			<a href="#">
				<img class="media-object thumb64" src="../../../assets/image/man.png" style="margin: auto;">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading"><strong>{{data.first_name}} {{data.last_name}}</strong></h4>
			{{data.comment}}
			<div class="color-999 m-t-5">
				<span class="m-r-15">{{data.created | amTimeAgo:true}}</span>
				<a class="m-r-15" href="" (click)="replyClick($event)">Reply</a>
				<a class="m-r-15" href="" (click)="deleteClick($event)">Delete</a>
			</div>
		</div>
	</div>
</div>